## Python

* Numbers
* Variable Assignment
* Printing
* Strings     
* Lists
* Dictionaries
* Booleans
* Tuples 
* Sets
* Comparison Operators
* Logic Operators
* if, elif, else Statements
* for Loops
* break and continue
* pass
* while Loops
* range()
* functions
* type casting
* user input
* File Handling
* Installing Important Libraries and Importing Them

## Numbers

In [1]:
1 + 1
#adding two numbers

2

In [2]:
1 * 3
#multiplying two numbers

3

In [3]:
1 / 2
#dividing two numbers

0.5

In [4]:
1 // 2

0

In [1]:
# power / exponent
2 ** 4
#taking power 4 of 2

16

In [2]:
# modulus
4 % 2
#taking modulus

0

In [3]:
5 % 2

1

In [4]:
# precedence
(2 + 3) * (5 + 5)
#expressions in brackets will solve first

50

## Variable Assignment

In [5]:

# Can not start with number or special characters
nameOfVar = 2 #initializing it to 2
i=0  #can't leave it it uninitialized (initialize it  to 0)
j="A"  #string initialization (we won't say character it's called string even if its only one character)
type(i)  #checking data type of variable by checking its value assigned to it

int

In [6]:
x = 2
y = 3

In [7]:
z = x + y  #initializing a variable to an expression

In [10]:
z

5

In [8]:
z  #can print it without using print

5

In [9]:
s = 12

## Printing

In [12]:
x = 5
s = 2
print(x)
print(s)
x,s  #to print both without using print function

5
2

(5, 2)

## Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
" wrap lot's of single quotes in double quotes"

In [13]:
# .format()
num =124563456
name='ali'

x = 'my name is {} and my number is {}'.format(name,num)  #concatenating two strings by using format function
x

'my name is ali and my number is 124563456'

In [ ]:
x = 'my name is' + name + ' my number ' + str(num)  #if use + for concatenation we have to use typecast for data types other than strings
x

'my name isali my number 124563456'

In [ ]:
# find type of any object
type(x)   #finding data type of a variable

In [12]:
s = 'hello'  #initializing a string
#    0  1  2  3  4 (index can be from 0 to so on)
#   -5 -4 -3 -2 -1 (as it can be manage in negative numbers)
len(s)  #checking length of string
s[-3]   #can print the value present on that particular index
s[0:2]  #will print values  from index value 0 to 1, index 2 value will not be printed
s[:-1]  #can also print by using negative numbers

s[-1]

'he'

In [18]:
n1 = True  #exact keywords will be used (can't use it with small t)
n2 = False
n1,n2
n1 and n2

False

In [20]:
# Capitalize first word in string
s.capitalize()  #first alphabet of string will be capital

'Hello'

In [21]:
# uppercase
s.upper()  #whole string will be capital

'HELLO'

In [22]:
# lowercase
s.lower()  #whole string will be in small letters

'hello'

In [23]:
# count a letter in a string
s.count('o')   #how many times o have come in a string

1

In [24]:
# check if string is alpha numeric
s.isalnum()

True

In [25]:
# check if string is numeric
s.isalnum()

True

In [ ]:
# String multiline
s = """hello
m
ert
l
e"""
print(s)  #string is printed in multiline

hello
m
ert
l
e

In [ ]:
# Break string in code only
multiline = "this is a \
multiline string."
multiline  #breaking the string

'this is a multiline string.'

In [ ]:
# String slicing
s='hello'
s[0]  #element on 0 index will be printed

'h'

In [29]:
s[0:4]  #element from index 0 to 3 will be printed

'hell'

In [26]:
s[:]   #whole string will be printed

'hello'

In [ ]:
# slicing using ive numbers for indices
s[:-1]   #can use negative numbers for indexes too

In [ ]:
s[-3:]

In [30]:
# Split and Partition
s = "This is a course on machine learning."
s.split(" ")  #will split and partition every word present in the string

['This', 'is', 'a', 'course', 'on', 'machine', 'learning.']

In [ ]:
# split on a word or letter
s.split("on")  #only the word on will be splitted

['This is a course ', ' machine learning.']

In [ ]:
# partition on a word or letter
s.partition("on") #partition will be applied on word on

('This is a course ', 'on', ' machine learning.')

In [ ]:
# f string
course_name = "machine learning"
duration = 16
s = f"This is a course on {course_name} and its duration is {duration} weeks."
s
#can use initialized variables in a string

'This is a course on machine learning and its duration is 16 weeks.'

In [ ]:
# is in
print("course" in s)
# not in
print("k" not in s)

True
True

## Lists

In [31]:
# list creation
my_list = [1,2,3]  #we can add any type of value in list, can add list in list etc
my_list

[1, 2, 3]

In [32]:
# list append
my_list.append('d')  #if we click on it again and again. value will be added again and again
my_list

[1, 2, 3, 'd']

In [ ]:
# List indexing
my_list[0]   #will print element present on 0th index

'NEW'

In [ ]:
# list slicing
my_list[1:]  #will print from index 1 to onwards

[2, 3, 'd']

In [ ]:
# change/insert a new item in a list on a particular index position
my_list[0] = 'NEW'   #can change the value of any index
my_list

['NEW', 2, 3]

In [ ]:
# nested list
nest = [1,2,3,[4,5,['target']]]   #can add even list in list

In [ ]:
# indexing of a nested list
nest[3]

[4, 5, ['target']]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

In [ ]:
# list of list
l_o_l = [[1,2,3],[3,4,5],[6,7,8]]
l_o_l

In [ ]:
# size of a list
len(l_o_l)

In [ ]:
# pop an element
l_o_l.pop()
l_o_l

In [ ]:
# count a particular item in a list
my_list = ['abc', 23]
my_list.count(23)

In [ ]:
# merging two lists
list_1 = [1,2,3,4,5]
list_2 = [5,6,7,8,9]
list_1+list_2

## Dictionaries

In [33]:
d = {'key1':'item1','key2':'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

In [ ]:
# item accessing
d['key1']
# item replacing
d['key1'] = 5
d

In [ ]:
#Dictionary Nested with other dictionary 
d={'k1':{'innerkey':[1,2,3]}}
print(d['k1'])
print(d['k1']['innerkey'])

In [ ]:
d['k1']['innerkey'][1]

In [34]:
pets = {'dogs':5, 'cats':4}

In [35]:
pets.keys()

dict_keys(['dogs', 'cats'])

In [36]:
pets.items()

dict_items([('dogs', 5), ('cats', 4)])

In [37]:
pets.values()

dict_values([5, 4])

In [ ]:
# deleting all key-value pairs in a dictionary
pets.clear()
pets

In [38]:
# check if a certain key or value is in the dictionary
"cats" in pets.keys()

True

## Booleans

In [ ]:
True

In [ ]:
False

## Tuples

In [ ]:
# tuple appearance
t = (1,2,3)

In [ ]:
# tuple indexing
t[0]

In [ ]:
# tuple slicing
t[1:]

In [ ]:
# tuples are immutable objects so no item can be changed
t[0] = 'NEW'

In [ ]:
# tuple merging
t = (1,2,3)
u = (3,5,6)
v = t+u
print(v)

## Sets

In [ ]:
st = {1,2,3}

In [ ]:
# sets are collections of unique items
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

In [ ]:
# set item add
st.add(9)

In [ ]:
# set allow intersection, difference, union among other operations
s1 = {1,2,3}
s2 = {3,4,5}
intersection = s1.intersection(s2)
print("intersection is:", intersection)
union = s1.union(s2)
print("union is:", union)
difference = s1.difference(s2)
print("difference is:", difference)

In [ ]:
# A short hand for 
a={1,3,4,6,'g'}
b = {2, 3, 4, 5}

print("Intersection: ",a & b)
print("Union: ",a | b)

## Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

In [ ]:
'hi' != 'bye'

## Logic Operators

In [ ]:
# and
(1 > 2) and (2 < 3)

In [ ]:
# or
(1 > 2) or (2 < 3)

In [ ]:
# or
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

In [ ]:
# if
if 1 < 2:
    print('Yep!')

In [ ]:
if 1 < 2:
    print('yep!')

In [ ]:
# if - else
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
# if -elif - else
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

1
2
3
4
5

In [ ]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [ ]:
#for(int i = 0; i<length(my_list); i++){
#   print(my_list[i])
#}  (loop syntax in C++)
for i in my_list:
  print(i)   #will print all values of list line by line

for i in my_list:
  print(i, end="") #will print all values of list in one line

for i in range(0,3,2):  #will print values of list from 0 to 3 using increment of 2
  print(my_list[i], end="")

NEW
2
3
d
NEW3

## Break and Continue

In [ ]:
# break
for x in seq:
  if x == 3: 
    break
  print(x)

In [ ]:
# continue
for x in seq:
    if x == 3:
        continue
    print(x)

## Pass

In [ ]:
# cannot left loops, if statements and functions empty. if wanted to do so use pass
for x in [0, 1, 2]:
  pass

## while Loops

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

## range()

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

## functions

In [ ]:
def my_func(param1='default_parameter'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func

In [ ]:
my_func()

In [ ]:
my_func('new param')

In [ ]:
my_func(param1='new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

## Type Casting

In [ ]:
type_1 = "1"
type_2 = 2
print(type_1 + type_2)

In [ ]:
print(type_1 + str(type_2))

## User Input

In [ ]:
name = input("Enter your name")
print(name, type(name))
age = input("Enter your age")
# age = int(age)
print(type(age))

In [ ]:
flag = True
while flag:
    inp = input('Enter Fahrenheit Temperature:')
    try:
        fahr = float(inp)
        flag = False
        cel = (fahr - 32.0) * 5.0 / 9.0
        print (cel)
    except:
        print ('Please enter a number')

KeyboardInterrupt: ignored

## File Handling

In [ ]:
# file writing
file = open('data.txt', 'w')
file.write('1 2 3 4\n')
file.write('2 3 4 5\n')
file.write('6 7 8 9\n')
file.write('10 11 12 13\n')
file.write('14 15 16 17\n')

file.close()

In [ ]:
# File handling modes:

#     “ r “, for reading.
#    “ w “, for writing.
#    “ a “, for appending.
#    “ r+ “, for both reading and writing.
#    “ a+ “, for both reading and appending.

# For binary file: rb, wb

##Installing Important Libraries and Importing Them

In [ ]:
!pip install lazypredict

In [ ]:
# whole package
import lazypredict

In [ ]:
# a specific module
from lazypredict import Supervised

In [ ]:
# a submodule from module
from lazypredict.Supervised import LazyClassifier

In [ ]:
# using alias for imports
from lazypredict.Supervised import LazyClassifier as LC